body, textarea, input, button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

body {
    margin: 0;
    background: #F0F0F0;
}

#header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitetitle {
    line-height: 0.25em;
    background: rgba(243, 243, 243, 1);
    color: rgba(85, 85, 85, 1);
    font-size: 18pt;
    float: left;
}

.profile {
    display: inline-block;
    box-shadow: 0 0 0 1px black;
    float: right;
    padding: 5px;
}

#leftbox {
    width: 15%;
    float: left;
}

.menulink {
    text-decoration: none;
    margin-left: 15px;
    color: black;
}

.menulink:hover {
    font-weight: normal;
    text-decoration: underline;
    color: black;
}

.curmenulink, .curmenulink:hover {
    color: gray;
}

#contents {
    width: 83%;
    padding: 1%;
    float: left;
}

a {
    color: #777;
}

a:hover {
    color: #999;
}

.searchform {
    font-size: 10pt;
    margin-left: 15px;
}

.searchform input, .searchform button {
    font-size: 10pt;
}

.formblock {
    overflow: auto;
}

form textarea[name="contents"] {
    /* resize: none; */
    width: 90%;
    height: 20em;
}

#contents th {
    border-bottom: 1px solid black;
}

#contents td {
    background: #DDD;
    padding: 0.5em;
}

.short_note {
    box-shadow: 0 0 0 2px silver;
    padding: 5px;
    background: white;
}

.short_note_title {
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.short_note_tag {
    margin: 0.25em;
    padding: 0.25em;
    background: #E8E8E8;
    font-weight: bold;
    text-decoration: none;
    line-height: 0.5;
}

.note {
    box-shadow: 0 0 0 2px silver;
    padding: 5px;
    background: white;
}

.note_title {
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.note_tag {
    margin: 0.25em;
    padding: 0.25em;
    background: #E8E8E8;
    font-weight: bold;
    text-decoration: none;
}

.note_text {
    box-shadow: 0 0 0 2px silver;
    margin: 0.5em;
    padding: 0.5em;
    background: #F6F6F6;
}

