{% set title = "Все заметки" %}
{% extends "basepage.html" %}
{% block content %}
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js"></script>
    <script>
        var md = window.markdownit({linkify: true});
    </script>
    {% for note in notes %}
        <div class="note">
            <h2><a href="/note/{{note['id']}}">{{note['title']}}</a></h2>
            {% if note['tags'] %}
                {% for tag in note['tags'].strip().split(" ") %}
                    <span class="tag"><a href="/search/results?tags={{tag|escapeurl}}">{{tag}}</a></span>
                {% endfor %}
                <br><br>
            {% endif %}
            <i>Создано: {{note['date_created']}}</i><br>
            <i>Последнее изменение: {{note['date_modified']}}</i><br>
            <div class="notetext" id="{{note['id']}}">
                {{note['contents']}}
            </div>
            <a href="/edit/{{note['id']}}">Изменить</a><br>
            <a href="/delete/{{note['id']}}">Удалить</a><br>
        </div><br>
        <script>
            document.getElementById("{{note['id']}}").innerHTML = md.render(document.getElementById("{{note['id']}}").innerHTML);
        </script>
    {% endfor %}
{% endblock %}
