<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>ЗаМетки - {{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="header">
            <div class="sitetitle">ЗаМетки</div>
            <div class="profile">
                <a href="/profile">Профиль</a> | <a href="/logout">Выход</a>
            </div>
        </div>
        <div id="menu">
            <a {{('class="menulink curmenulink"' if title == "Главная" else 'class="menulink"')|safe}} href="/">Главная</a>
            <a {{('class="menulink curmenulink"' if title == "Все заметки" else 'class="menulink"')|safe}} href="/all">Все заметки</a>
            <a {{('class="menulink curmenulink"' if title == "Поиск" else 'class="menulink"')|safe}} href="/search">Поиск</a>
            <a {{('class="menulink curmenulink"' if title == "Новая заметка" else 'class="menulink"')|safe}} href="/new">Новая заметка</a>
        </div>
        <div id="contents">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
