<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>ЗаМетки - {{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles/styles.css">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="header">
            <h1><a href="/">ЗаМетки</a></h1>
        </div>
        <div id="menu">
            <h2>Навигация</h2>
            <ul>
                <li><a {{('class="curlink"' if title == "Главная" else '')|safe}} href="/">Главная</a></li>
                <li><a {{('class="curlink"' if title == "Все заметки" else '')|safe}} href="/all">Все заметки</a></li>
                <li><a {{('class="curlink"' if title == "Поиск" else '')|safe}} href="/search">Поиск</a></li>
                <li><a {{('class="curlink"' if title == "Новая заметка" else '')|safe}} href="/new">Новая заметка</a></li>
                <li><a {{('class="curlink"' if title == "Профиль" else '')|safe}} href="/profile">Профиль</a></li>
                <li><a {{('class="curlink"' if title == "Выход" else '')|safe}} href="/logout">Выход</a></li>
            </ul>
        </div>
        <div id="contents">
            <h1>{{title}}</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
