{% extends "basepage.html" %}
{% block content %}
    <div class="formblock">
        <form method="POST">
            Укажите название записи:<br>
            <input type="text" required name="title" size="50" placeholder="Название" value="{{note['title']|safe}}"><br><br>
            Перечислите метки, разделяя их пробелами:<br>
            <input type="text" name="tags" size="50" placeholder="Метки" value="{{note['tags']|safe}}"><br><br>
            Текст записи:<br>
            <textarea name="contents" cols="60" rows="10" placeholder="Содержимое">{{note['contents']|safe}}</textarea><br>
            <button name="savenote" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}
