{% set title = "Изменение заметки" %}
{% extends "basepage.html" %}
{% block content %}
    <div class="formblock">
        <form method="POST">
            Укажите название заметки:<br>
            <input type="text" required name="title" size="50" placeholder="Название" value="{{note['title']}}"><br><br>
            Перечислите метки, разделяя их пробелами:<br>
            <input type="text" name="tags" size="50" placeholder="Метки" value="{{note['tags']}}"><br><br>
            Текст заметки:<br>
            <textarea name="contents" id="mde" placeholder="Содержимое">&#13;{{note['contents']}}</textarea><br>
            <button name="savenote" type="submit">Сохранить</button>
        </form>
    </div>
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("mde") });
    </script>
{% endblock %}
