{% set title = "Главная" %}
{% extends "basepage.html" %}
{% block content %}
    <h2>Последние заметки:</h2><br>
    {% for note in notes %}
        <div class="note">
            <h2><a href="/note/{{note['id']}}">{{note['title']|safe}}</a></h2>
            {% if note['tags'] %}
                {% for tag in note['tags'].strip().split(" ") %}
                    <span class="tag"><a href="/search/results?tags={{tag|escapeurl}}">{{tag|safe}}</a></span>
                {% endfor %}
                <br><br>
            {% endif %}
            <i>Создано: {{note['date_created']}}</i><br>
            <i>Последнее изменение: {{note['date_modified']}}</i><br>
            <div class="notetext">
                {{note['contents']|safe}}
            </div>
            <a href="/edit/{{note['id']}}">Изменить</a><br>
            <a href="/delete/{{note['id']}}">Удалить</a><br>
        </div><br>
    {% endfor %}
{% endblock %}
