{% macro note(note) %}
<div class="note">
    <a class="note_title" href="/note/{{note['id']}}">{{note['title']}}</a>
    {% if note['tags'] %}
        {% for tag in note['tags'].strip().split(" ") %}
            <a class="note_tag" href="/search/results?tags={{tag|escapeurl}}">{{tag}}</a>
        {% endfor %}
        <br><br>
    {% endif %}
    <div class="note_text" id="{{note['id']}}">
        {{note['contents']}}
    </div>
    <i>Создано {{note['date_created']}}, изменено {{note['date_modified']}}</i><br>
    <a href="/edit/{{note['id']}}">Изменить</a><br>
    <a href="/delete/{{note['id']}}">Удалить</a><br>
</div><br>
<script>
    document.getElementById("{{note['id']}}").innerHTML = md.render(document.getElementById("{{note['id']}}").innerHTML);
</script>
{% endmacro %}

{% macro short_note(note) %}
<div class="short_note">
    <a class="short_note_title" href="/note/{{note['id']}}">{{note['title']}}</a>
    {% if note['tags'] %}
        {% for tag in note['tags'].strip().split(" ") %}
            <a class="short_note_tag" href="/search/results?tags={{tag|escapeurl}}">{{tag}}</a>
        {% endfor %}
        <br><br>
    {% endif %}
</div><br>
{% endmacro %}

