<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>ЗаМетки - Сообщение</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles/styles.css">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="header">
            <h1><a href="/">ЗаМетки</a></h1>
        </div>
        <div id="menu">
            <h2>Навигация</h2>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/all">Все записи</a></li>
                <li><a href="/search">Поиск</a></li>
                <li><a href="/new">Новая запись</a></li>
            </ul>
        </div>
        <div id="contents">
            <h1>Сообщение</h1>
            {{message}}
        </div>
    </body>
</html>
