{% extends "basepage.html" %}
{% block content %}
    <div class="formblock">
        <form method="GET" action="/search/results">
            Перечислите через пробелы ключевые слова, которые должны встречаться в тексте:<br>
            <input type="text" name="keywords" size="50" placeholder="Ключевые слова"><br><br>
            Перечислите через пробелы метки, которыми должна быть отмечена запись:<br>
            <input type="text" name="tags" size="50" placeholder="Метки"><br><br>
            <button type="submit">Найти</button>
        </form>
    </div>
{% endblock %}
