<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>{{title}} - ЗаМетки</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles_dark.css">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="header">
            <div class="sitetitle">ЗаМетки</div>
            <div class="profile">
                <a href="/login">Вход</a><br>
                <a href="/signup">Регистрация</a>
            </div>

        </div>
        <div id="undermenu_container">
            <div id="leftbox">
                <a {{('class="menulink curmenulink"' if title == "Вход" else 'class="menulink"')|safe}} href="/login">Вход</a><br>
                <a {{('class="menulink curmenulink"' if title == "Регистрация" else 'class="menulink"')|safe}} href="/signup">Регистрация</a><br>
            </div>
            <div id="contents">
                <h1>{{title}}</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
