<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>ЗаМетки - {{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles/styles.css">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="header">
            <h1>ЗаМетки</h1>
        </div>
        <div id="menu">
            {% if title == "Вход" %}
                <a class="menulink curmenulink" href="/login">Вход</a>
            {% else %}
                <a class="menulink" href="/login">Вход</a>
            {% endif %}
            {% if title == "Регистрация" %}
                <a class="menulink curmenulink" href="/signup">Регистрация</a>
            {% else %}
                <a class="menulink" href="/signup">Регистрация</a>
            {% endif %}
        </div>
        <div id="contents">
            <h1>{{title}}</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
