body, textarea, input, button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

body {
    margin: 0;
}

#header {
    width: 99%;
    padding: 0.5%;
    float: left;
    line-height: 0.5em;
    background: #555;
    color: white;
}

#menu {
    float: left;
    width: 98%;
    padding: 1%;
    background: #777;
}

.menulink {
    margin: 0.25em;
    padding: 0.25em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    background: #909090;
}

.menulink:hover {
    background: #9C9C9C;
    color: white;
}

.curmenulink, .curmenulink:hover {
    background: #333;
}

#contents {
    float: left;
    width: 99%;
    padding: 0.5%;
}

a {
    color: #777;
}

a:hover {
    color: #999;
}

.formblock {
    overflow: auto;
}

form textarea[name="contents"] {
    resize: none;
}

#contents th {
    border-bottom: 1px solid black;
}

#contents td {
    background: #DDD;
    padding: 0.5em;
}

.note {
    box-shadow: 0 0 0 2px silver;
    padding: 0.5em;
    background: white;
}

.tag {
    margin: 0.25em;
    padding: 0.25em;
    background: #E8E8E8;
    font-weight: bold;
}

.notetext {
    box-shadow: 0 0 0 2px silver;
    margin: 0.5em;
    padding: 0.5em;
    background: #F6F6F6;
}

