body, textarea, input, button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

body {
    margin: 0;
    background: rgba(238, 238, 238, 1);
}

#header {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitetitle {
    line-height: 0.25em;
    background: rgba(243, 243, 243, 1);
    color: rgba(85, 85, 85, 1);
    font-size: 24pt;
    float: left;
}

.profile {
    display: inline-block;
    box-shadow: 0 0 0 1px black;
    float: right;
    padding: 0.5em;
    line-height: 1.5em;
}

#menu {
    padding: 1%;
    background: rgba(51, 51, 51, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menulink {
    text-decoration: none;
    margin: 0 1em 0;
    color: silver;
}

.menulink:hover {
    color: white;
    text-decoration: underline;
    font-weight: normal;
}

.curmenulink, .curmenulink:hover {
    color: white;
}

#contents {
    padding: 1%;
}

a {
    color: #777;
}

a:hover {
    color: #999;
}

.formblock {
    overflow: auto;
}

form textarea[name="contents"] {
    /* resize: none; */
    width: 90%;
    height: 20em;
}

#contents th {
    border-bottom: 1px solid black;
}

#contents td {
    background: #DDD;
    padding: 0.5em;
}

.note {
    box-shadow: 0 0 0 2px silver;
    padding: 0.5em;
    background: white;
}

.tag {
    margin: 0.25em;
    padding: 0.25em;
    background: #E8E8E8;
    font-weight: bold;
}

.notetext {
    box-shadow: 0 0 0 2px silver;
    margin: 0.5em;
    padding: 0.5em;
    background: #F6F6F6;
}

