@font-face {
    font-family: Romic;
    src: url(Romic.ttf);
}

body, textarea, input, button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

h1, h2, h3, #header {
    font-family: Romic, 'Segoe print', helvetica, arial, sans-serif;
}

body {
    background: url(../images/grass_background.jpg);
    margin: 0;
}

#header, #menu, #contents {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.5em;
}

#menu ul {
    line-height: 2em;
}

#header {
    width: 96%;
    margin: 1%;
    padding: 1%;
    height: 4em;
    float: left;
}

#menu {
    width: 16%;
    padding: 1%;
    margin: 1%;
    float: left;
}

#contents {
    width: 76%;
    padding: 1%;
    margin: 1%;
    float: left;
}

a {
    color: #0A0;
}

a:hover {
    color: #0C0;
}

.curlink {
    font-weight: bold;
}

.formblock {
    overflow: auto;
}

form textarea[name="contents"] {
    resize: none;
}

th {
    border-bottom: 1px solid black;
}

td {
    background: #DDD;
    padding: 0.5em;
}

.note {
    border: 1px solid green;
    padding: 0.5em;
    background: white;
    border-radius: 0.5em;
}

.tag {
    margin: 0.25em;
    padding: 0.25em;
    background: #E8E8E8;
    font-weight: bold;
}

.notetext {
    border: 1px solid green;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background: #F6F6F6;
}
